In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', '{:.2f}'.format)
import seaborn as sns

In [2]:
%%time
status_vs_tt = pd.read_csv('status_vs_tt.csv', sep = ',') # таблица Макса по выручкам
status_vs_tt = status_vs_tt.rename(columns = {'id_tt' : 'id_tt_cl'})

zao_info = pd.read_csv('zao_info.csv', sep = ';') # инфа о магазинах

febr = pd.read_csv('1_febr.csv', sep = ';')
march = pd.read_csv('1_march.csv', sep = ';')
april = pd.read_csv('1_april.csv', sep = ';')
may = pd.read_csv('1_may.csv', sep = ';')

ost_1 = pd.read_csv('1_ost.csv', sep = ';') # инфа о продуктах и остатках

Wall time: 44.1 s

In [3]:
febr_1 = febr \
    .query('order_type == "offline"') \
    .groupby('id_tt_cl') \
    .agg({'BaseSum' : 'sum'}) \
    .rename(columns = {'BaseSum' : 'sum_feb'})
#febr_1

In [4]:
march_1 = march \
    .query('order_type == "offline"') \
    .groupby('id_tt_cl') \
    .agg({'BaseSum' : 'sum'}) \
    .rename(columns = {'BaseSum' : 'sum_march'})
#march_1

In [5]:
april_1 = april \
    .query('order_type == "offline"') \
    .groupby('id_tt_cl') \
    .agg({'BaseSum' : 'sum'}) \
    .rename(columns = {'BaseSum' : 'sum_april'})
#april_1

In [6]:
may_1 = may \
    .query('order_type == "offline"') \
    .groupby('id_tt_cl') \
    .agg({'BaseSum' : 'sum'}) \
    .rename(columns = {'BaseSum' : 'sum_may'})
#may_1

In [7]:
%%time
end = febr_1.merge(march_1, how = 'left', on = 'id_tt_cl').reset_index()
end_2 = april_1.merge(may_1, how = 'left', on = 'id_tt_cl').reset_index()
end_3 = end.merge(end_2, how = 'left', on = 'id_tt_cl').reset_index()

Wall time: 9.97 ms

In [8]:
end_3

    index  id_tt_cl     sum_feb   sum_march   sum_april     sum_may
0       0     10778 10332498.63 11707200.87 11495391.03 10919714.38
1       1     10780 14708028.79 19988648.11 20867276.11 20997677.99
2       2     10786 14666767.15 18546755.11 18158928.39 18543129.02
3       3     10904  6759323.60  7656804.87  7269242.42  7419504.77
4       4     11020 11011179.54 13292039.95 13006494.82 12693411.69
..    ...       ...         ...         ...         ...         ...
82     82     15834  4084280.93  4871003.55  4759920.45  5047448.76
83     83     15970  4236045.28  4980662.09  4839940.51  4623999.66
84     84     15986  9891149.50 11146635.63 10661630.75 10472168.57
85     85     16130  9612185.90 11822511.00 11924369.07 12581289.96
86     86     16250   690138.57   983799.57         nan         nan

[87 rows x 6 columns]

In [9]:
#end_3

In [10]:
zao_info_end = zao_info[['id_tt', 'ploshad', 'shtat', 'qty_kassa', 'qty_kassa_so', 'format']]
zao_info_end = zao_info_end.rename(columns = {'id_tt' : 'id_tt_cl'})

In [11]:
end_shops = zao_info_end.merge(end_3, how = 'left', on = 'id_tt_cl').reset_index()

In [12]:
end_shops

,level_0,id_tt_cl,ploshad,shtat,qty_kassa,qty_kassa_so,format,index,sum_feb,sum_march,sum_april,sum_may
0,0,10778,127.20,5,6,3,ВкусВилл,0,10332498.63,11707200.87,11495391.03,10919714.38
1,1,10780,111.00,9,9,3,ВкусВилл,1,14708028.79,19988648.11,20867276.11,20997677.99
2,2,10786,210.00,5,8,1,ВкусВилл,2,14666767.15,18546755.11,18158928.39,18543129.02
3,3,10904,114.50,3,5,1,ВкусВилл,3,6759323.60,7656804.87,7269242.42,7419504.77
4,4,11020,200.00,6,8,4,ВкусВилл,4,11011179.54,13292039.95,13006494.82,12693411.69
...,...,...,...,...,...,...,...,...,...,...,...,...
79,79,15753,182.10,5,7,3,ВкусВилл,81,8183574.60,9367312.73,9587413.95,9824763.06
80,80,15834,174.50,2,4,2,ВкусВилл,82,4084280.93,4871003.55,4759920.45,5047448.76
81,81,15970,224.00,2,5,3,ВкусВилл,83,4236045.28,4980662.09,4839940.51,4623999.66
82,82,15986,304.00,6,9,3,ВкусВилл,84,9891149.50,11146635.63,10661630.75,10472168.57
83,83,16130,230.00,4,7,3,ВкусВилл,85,9612185.90,11822511.00,11924369.07,12581289.96

In [13]:
moth_sum = end_shops.copy()

In [14]:
moth_sum['feb_all'] = sum(end_shops.sum_feb)
moth_sum['march_all'] = sum(end_shops.sum_march)
moth_sum['april_all'] = sum(end_shops.sum_april)
moth_sum['may_all'] = sum(end_shops.sum_may)
moth_sum = moth_sum.drop(['id_tt_cl', 'ploshad','shtat','qty_kassa','qty_kassa_so','format','sum_feb','sum_march','sum_april','sum_may'], axis = 1)

In [15]:
moth_sum

    level_0  index      feb_all    march_all    april_all      may_all
0         0      0 695658979.10 829799241.33 817112869.44 821447978.02
1         1      1 695658979.10 829799241.33 817112869.44 821447978.02
2         2      2 695658979.10 829799241.33 817112869.44 821447978.02
3         3      3 695658979.10 829799241.33 817112869.44 821447978.02
4         4      4 695658979.10 829799241.33 817112869.44 821447978.02
..      ...    ...          ...          ...          ...          ...
79       79     81 695658979.10 829799241.33 817112869.44 821447978.02
80       80     82 695658979.10 829799241.33 817112869.44 821447978.02
81       81     83 695658979.10 829799241.33 817112869.44 821447978.02
82       82     84 695658979.10 829799241.33 817112869.44 821447978.02
83       83     85 695658979.10 829799241.33 817112869.44 821447978.02

[84 rows x 6 columns]

In [16]:
def magazine_status(value):
    if value <= 3:
        return 'junior'
    elif 4 <= value <= 6:
        return 'middle'
    else:
        return 'senior'

In [17]:
%%time
end_shops['magazine_status'] = end_shops.apply(lambda x: magazine_status(x['shtat']), axis = 1)

Wall time: 8.98 ms

In [18]:
zao_count = end_shops.groupby('magazine_status', as_index = False) \
    .agg({'id_tt_cl' : 'nunique'})
zao_count['%'] = (zao_count['id_tt_cl'] / 84).mul(100).round(2)

In [19]:
zao_count = zao_count.rename(columns = {'magazine_status' : 'Класс магазина', 'id_tt_cl' : 'Количество точек'})
zao_count

  Класс магазина  Количество точек     %
0         junior                41 48.81
1         middle                36 42.86
2         senior                 7  8.33

In [20]:
end_shops = end_shops.merge(status_vs_tt, how = 'left', on = 'id_tt_cl')

In [21]:
end_shops = end_shops.drop(['level_0', 'index', 'Unnamed: 0'], axis = 1)

In [22]:
end_shops['qty_kassa'] = end_shops['qty_kassa'] - end_shops['qty_kassa_so']
end_shops.rename(columns = {'qty_kassa' : 'off_cashbox', 'qty_kassa_so' : 'so_cashbox'})

,id_tt_cl,ploshad,shtat,off_cashbox,so_cashbox,format,sum_feb,sum_march,sum_april,sum_may,magazine_status,status
0,10778,127.20,5,3,3,ВкусВилл,10332498.63,11707200.87,11495391.03,10919714.38,middle,falling
1,10780,111.00,9,6,3,ВкусВилл,14708028.79,19988648.11,20867276.11,20997677.99,senior,raising
2,10786,210.00,5,7,1,ВкусВилл,14666767.15,18546755.11,18158928.39,18543129.02,middle,neutral
3,10904,114.50,3,4,1,ВкусВилл,6759323.60,7656804.87,7269242.42,7419504.77,junior,neutral
4,11020,200.00,6,4,4,ВкусВилл,11011179.54,13292039.95,13006494.82,12693411.69,middle,falling
...,...,...,...,...,...,...,...,...,...,...,...,...
79,15753,182.10,5,4,3,ВкусВилл,8183574.60,9367312.73,9587413.95,9824763.06,middle,raising
80,15834,174.50,2,2,2,ВкусВилл,4084280.93,4871003.55,4759920.45,5047448.76,junior,neutral
81,15970,224.00,2,2,3,ВкусВилл,4236045.28,4980662.09,4839940.51,4623999.66,junior,falling
82,15986,304.00,6,6,3,ВкусВилл,9891149.50,11146635.63,10661630.75,10472168.57,middle,falling
83,16130,230.00,4,4,3,ВкусВилл,9612185.90,11822511.00,11924369.07,12581289.96,middle,raising

In [23]:
end_shops

,id_tt_cl,ploshad,shtat,qty_kassa,qty_kassa_so,format,sum_feb,sum_march,sum_april,sum_may,magazine_status,status
0,10778,127.20,5,3,3,ВкусВилл,10332498.63,11707200.87,11495391.03,10919714.38,middle,falling
1,10780,111.00,9,6,3,ВкусВилл,14708028.79,19988648.11,20867276.11,20997677.99,senior,raising
2,10786,210.00,5,7,1,ВкусВилл,14666767.15,18546755.11,18158928.39,18543129.02,middle,neutral
3,10904,114.50,3,4,1,ВкусВилл,6759323.60,7656804.87,7269242.42,7419504.77,junior,neutral
4,11020,200.00,6,4,4,ВкусВилл,11011179.54,13292039.95,13006494.82,12693411.69,middle,falling
...,...,...,...,...,...,...,...,...,...,...,...,...
79,15753,182.10,5,4,3,ВкусВилл,8183574.60,9367312.73,9587413.95,9824763.06,middle,raising
80,15834,174.50,2,2,2,ВкусВилл,4084280.93,4871003.55,4759920.45,5047448.76,junior,neutral
81,15970,224.00,2,2,3,ВкусВилл,4236045.28,4980662.09,4839940.51,4623999.66,junior,falling
82,15986,304.00,6,6,3,ВкусВилл,9891149.50,11146635.63,10661630.75,10472168.57,middle,falling
83,16130,230.00,4,4,3,ВкусВилл,9612185.90,11822511.00,11924369.07,12581289.96,middle,raising

In [24]:
kassi_count = end_shops.groupby('magazine_status') \
    .agg({'qty_kassa' : 'sum', 'qty_kassa_so' : 'sum'})

In [25]:
kassi_count['kass_procent'] = (kassi_count['qty_kassa'] / (kassi_count['qty_kassa'] + kassi_count['qty_kassa_so'])).mul(100).round(2)
kassi_count['kass__so_procent'] = (kassi_count['qty_kassa_so'] / (kassi_count['qty_kassa'] + kassi_count['qty_kassa_so'])).mul(100).round(2)
kassi_count

                 qty_kassa  qty_kassa_so  kass_procent  kass__so_procent
magazine_status
junior                 114            76         60.00             40.00
middle                 148            87         62.98             37.02
senior                  36            21         63.16             36.84

In [26]:
kassi_count = kassi_count.rename(columns = {'qty_kassa' : 'Кол-во офф. касс', 'qty_kassa_so' : 'Кол-во касс СО', 'kass_procent' : '% офф. касс', 'kass__so_procent' : '% касс СО'})
kassi_count

                 Кол-во офф. касс  Кол-во касс СО  % офф. касс  % касс СО
magazine_status
junior                        114              76        60.00      40.00
middle                        148              87        62.98      37.02
senior                         36              21        63.16      36.84

In [27]:
#shops_for_choise = end_shops.query('status == "falling" and magazine_status != "junior" ').reset_index()
#shops_for_choise

In [28]:
#ab_test = shops_for_choise.query('id_tt_cl == ["10778", "11020", "11650", "11841", "11901", "12392", "13018", "14030", "14396", "15239"]').reset_index()
#ab_test

In [29]:
#ab_control = end_shops.query('status != "falling" and magazine_status != "junior" and 5 <= shtat <= 7').reset_index()

In [30]:
#ab_control.to_csv('control_A_B_JDA_1_hip.csv')

In [31]:
#test = pd.read_csv('test_A_B_JDA_1_hip.csv')

In [32]:
#control = pd.read_csv('control_A_B_JDA_1_hip.csv')

In [33]:
shops_month = end_shops.groupby('magazine_status', as_index = False) \
    .agg({'sum_feb' : 'sum', 'sum_march' : 'sum', 'sum_april' : 'sum', 'sum_may' : 'sum'})
shops_month

  magazine_status      sum_feb    sum_march    sum_april      sum_may
0          junior 229335054.15 276219338.46 269139462.42 271026133.42
1          middle 361893268.57 427853680.05 422654464.81 424995972.95
2          senior 104430656.38 125726222.81 125318942.20 125425871.66

In [34]:
#shops_month.loc['Bill'] = shops_month.apply(lambda x: x.sum())

In [35]:
shops_month

  magazine_status      sum_feb    sum_march    sum_april      sum_may
0          junior 229335054.15 276219338.46 269139462.42 271026133.42
1          middle 361893268.57 427853680.05 422654464.81 424995972.95
2          senior 104430656.38 125726222.81 125318942.20 125425871.66

In [36]:
fe = round(sum(shops_month.sum_feb), 2)
mar = round(sum(shops_month.sum_march), 2)
ap = round(sum(shops_month.sum_april), 2)
ma = round(sum(shops_month.sum_may), 2)

In [37]:
fe

695658979.1

In [38]:
df = pd.DataFrame({'Выручка в феврале': [fe], 'Выручка в марте': [mar], 'Выручка в апреле': [ap], 'Выручка в мае': [ma]})
df

   Выручка в феврале  Выручка в марте  Выручка в апреле  Выручка в мае
0       695658979.10     829799241.33      817112869.44   821447978.02

In [39]:
shop_month_perc = shops_month.copy()
shop_month_perc['sum_feb'] = round((shop_month_perc['sum_feb'] / fe) * 100, 2)
shop_month_perc['sum_march'] = round((shop_month_perc['sum_march'] / mar) * 100, 2)
shop_month_perc['sum_april'] = round((shop_month_perc['sum_april'] / ap) * 100, 2)
shop_month_perc['sum_may'] = round((shop_month_perc['sum_may'] / ma) * 100, 2)
shop_month_perc

  magazine_status  sum_feb  sum_march  sum_april  sum_may
0          junior    32.97      33.29      32.94    32.99
1          middle    52.02      51.56      51.73    51.74
2          senior    15.01      15.15      15.34    15.27

In [40]:
zao_count

  Класс магазина  Количество точек     %
0         junior                41 48.81
1         middle                36 42.86
2         senior                 7  8.33

In [41]:
shops_month_for_one = shops_month.copy()
shops_month_for_one

  magazine_status      sum_feb    sum_march    sum_april      sum_may
0          junior 229335054.15 276219338.46 269139462.42 271026133.42
1          middle 361893268.57 427853680.05 422654464.81 424995972.95
2          senior 104430656.38 125726222.81 125318942.20 125425871.66

In [43]:
shops_month_for_one.sum_feb = shops_month.sum_feb / zao_count['Количество точек']
shops_month_for_one.sum_march = shops_month.sum_march / zao_count['Количество точек']
shops_month_for_one.sum_april = shops_month.sum_april / zao_count['Количество точек']
shops_month_for_one.sum_may = shops_month.sum_may / zao_count['Количество точек']
shops_month_for_one

  magazine_status     sum_feb   sum_march   sum_april     sum_may
0          junior  5593537.91  6737057.04  6564377.13  6610393.50
1          middle 10052590.79 11884824.45 11740401.80 11805443.69
2          senior 14918665.20 17960888.97 17902706.03 17917981.67

In [44]:
end_mid = end_shops.query('magazine_status == "middle"')
end_mid['deviation_feb'] = end_shops['sum_feb'] - shops_month_for_one.loc[1][1]
end_mid['deviation_march'] = end_shops['sum_march'] - shops_month_for_one.loc[1][2]
end_mid['deviation_april'] = end_shops['sum_april'] - shops_month_for_one.loc[1][3]
end_mid['deviation_may'] = end_shops['sum_may'] - shops_month_for_one.loc[1][4]

<ipython-input-44-610afb5a4a78>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_mid['deviation_feb'] = end_shops['sum_feb'] - shops_month_for_one.loc[1][1]
<ipython-input-44-610afb5a4a78>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_mid['deviation_march'] = end_shops['sum_march'] - shops_month_for_one.loc[1][2]
<ipython-input-44-610afb5a4a78>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_mid['deviation_april'] = end_shops['sum_april'] - shops_month_for_one.loc[1][3]
<ipython-input-44-610afb5a4a78>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_mid['deviation_may'] = end_shops['sum_may'] - shops_month_for_one.loc[1][4]

In [45]:
end_sen = end_shops.query('magazine_status == "senior"')
end_sen['deviation_feb'] = end_shops['sum_feb'] - shops_month_for_one.loc[2][1]
end_sen['deviation_march'] = end_shops['sum_march'] - shops_month_for_one.loc[2][2]
end_sen['deviation_april'] = end_shops['sum_april'] - shops_month_for_one.loc[2][3]
end_sen['deviation_may'] = end_shops['sum_may'] - shops_month_for_one.loc[2][4]
end_sen

<ipython-input-45-1ef8a0456490>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_sen['deviation_feb'] = end_shops['sum_feb'] - shops_month_for_one.loc[2][1]
<ipython-input-45-1ef8a0456490>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_sen['deviation_march'] = end_shops['sum_march'] - shops_month_for_one.loc[2][2]
<ipython-input-45-1ef8a0456490>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_sen['deviation_april'] = end_shops['sum_april'] - shops_month_for_one.loc[2][3]
<ipython-input-45-1ef8a0456490>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_sen['deviation_may'] = end_shops['sum_may'] - shops_month_for_one.loc[2][4]

,id_tt_cl,ploshad,shtat,qty_kassa,qty_kassa_so,format,sum_feb,sum_march,sum_april,sum_may,magazine_status,status,deviation_feb,deviation_march,deviation_april,deviation_may
1,10780,111.00,9,6,3,ВкусВилл,14708028.79,19988648.11,20867276.11,20997677.99,senior,raising,-210636.41,2027759.14,2964570.08,3079696.32
7,11290,181.00,8,4,2,ВкусВилл,13449596.43,15713917.56,15488230.32,15980333.64,senior,neutral,-1469068.76,-2246971.42,-2414475.71,-1937648.02
14,11657,197.70,8,6,3,ВкусВилл,18042079.38,22203354.89,22599888.45,21633217.62,senior,neutral,3123414.18,4242465.92,4697182.43,3715235.96
29,11937,237.00,9,3,3,ВкусВилл,14112610.46,16076336.14,15361609.05,14890159.93,senior,falling,-806054.74,-1884552.84,-2541096.98,-3027821.74
30,11955,279.20,12,8,3,ВкусВилл,22395581.66,26316941.80,25841772.95,26012977.77,senior,neutral,7476916.46,8356052.82,7939066.92,8094996.10
76,14899,199.00,7,4,3,ВкусВилл,9621406.23,10643835.01,10893546.12,11622769.85,senior,raising,-5297258.96,-7317053.96,-7009159.91,-6295211.82
78,15239,453.10,7,5,4,ВкусВилл,12101353.43,14783189.31,14266619.20,14288734.86,senior,falling,-2817311.77,-3177699.66,-3636086.83,-3629246.81

In [46]:
shop_stat = pd.concat([end_mid, end_sen], axis=0)
shop_stat = shop_stat.query('format == "ВкусВилл"')

In [47]:
shop_stat_testing = shop_stat[['id_tt_cl', 'ploshad', 'shtat','magazine_status', 'deviation_feb', 'deviation_march', 'deviation_april', 'deviation_may']]
shop_stat_testing['id_tt_cl'] = shop_stat_testing['id_tt_cl'].astype(object)

<ipython-input-47-9c15218234a0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_stat_testing['id_tt_cl'] = shop_stat_testing['id_tt_cl'].astype(object)

In [61]:
shop_stat_mid = shop_stat_testing.query('magazine_status == "middle"').reset_index().drop(['index'], axis = 1)
shop_stat_mid['ploshad'] = shop_stat_mid['ploshad'].astype(object)
shop_stat_mid['shtat'] = shop_stat_mid['shtat'].astype(object)
shop_stat_mid = shop_stat_mid.sort_values(['shtat', 'deviation_may'], ascending = False)

In [59]:
shop_stat_sen = shop_stat_testing.query('magazine_status == "senior"').reset_index().drop(['index'], axis = 1)
shop_stat_sen['ploshad'] = shop_stat_sen['ploshad'].astype(object)
shop_stat_sen['shtat'] = shop_stat_sen['shtat'].astype(object)
shop_stat_sen = shop_stat_sen.sort_values(['shtat', 'deviation_may'], ascending = False)

In [62]:
(shop_stat_mid
 .style
 #.format('{:.2f}')
 .background_gradient(cmap='Oranges', axis=0)
)

In [60]:
(shop_stat_sen
 .style
 #.format('{:.2f}')
 .background_gradient(cmap='Oranges', axis=0)
)

In [52]:
zao_count

  Класс магазина  Количество точек     %
0         junior                41 48.81
1         middle                36 42.86
2         senior                 7  8.33

In [64]:
my_finale_shops_test = pd.DataFrame({'test' : [14899, 15239, 11855, 10778, 11650, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan'],
                                    'controll' :[11937, 11290, 14228, 12025, 13018, 11103, 15986, 11020, 12596, 13262],
                                     'etalon' : [14030, 11841, 11777, 14025, 11634, 'Nan', 'Nan', 'Nan', 'Nan', 'Nan']})

In [65]:
my_finale_shops_test

    test  controll etalon
0  14899     11937  14030
1  15239     11290  11841
2  11855     14228  11777
3  10778     12025  14025
4  11650     13018  11634
5    Nan     11103    Nan
6    Nan     15986    Nan
7    Nan     11020    Nan
8    Nan     12596    Nan
9    Nan     13262    Nan